body{
    font-family: "Hiragino Sans GB","微软雅黑", Helvetica, Arial, sans-serif;
}
.container{
}
ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.list-group-item.active{
    background:#d4145a ;
    border-color: #d4145a;
}
.list-group-item.active:hover{
    background:#d4145a ;
    border-color: #d4145a;
}


/*顶部样式*/
.header{
    background:#000;
    height: 30px;
	line-height:30px;
	color:#eee;
	font-size:12px;
}
.header span{
	color:#eee;
}	
.header a{
	color:#eee;
}
.header a:hover{
	text-decoration:none;
	color:#eee;
}

.my_alert{
	border:1px solid transparent;
	background-color:#fff;
}
/*底部开始*/
.foot{ width:100%; border-top:4px solid #337ab7; clear:both; background-color:#333;}
.foot_center{ margin-top:20px; min-height:160px;}
.foot_center a{color:#888;}
.foot_center a:hover{color:#fff;}
.foot_nav{ width:715px; float:left; height:160px;}
.foot_nav li{ height:160px;border-left:1px solid #5b5b5b; width:177px; float:left; text-align:center;} 
.foot_nav h2{ font-size:16px; color:#fff; line-height:30px; margin-bottom:6px;}
.foot_nav p{ line-height:25px;}
.foot_nav a{ color:#888; font-size:14px;}
.foot_nav a:hover{ color:#fff;}
.foot_gz{ width:243px; border-left:1px solid #5b5b5b; border-right:1px solid #5b5b5b; float:left; height:160px;}
.foot_gz_top{font-size:16px; color:#fff; line-height:30px; font-weight:bold; margin-left:35px;margin-top:20px;}
.foot_gz_list{ width:80%; margin:0 auto;}
.foot_gz_list li{ width:50%; float:left; text-align:center; margin-top:22px;}
.foot_gz_list p a{ color:#fff; font-size:14px;color:#888;}
.foot_gz_list p a:hover{ color:#fff;}
.foot_gz_list img{ margin-bottom:8px;}
.foot_right{ width:239px; float:right; height:160px;border-right:1px solid #5b5b5b;}
.foot_right_tel{ margin:12px 0 30px 35px;}
.foot_right p{ margin-left:42px; color:#888; font-size:14px;}
.foot02{ clear:both; margin-top:40px; border-top:1px dashed #337ab7; padding-top:20px;}
.foot02 p{ text-align:center; color:#999;}
.foot02_img{ width:350px; margin:10px auto 0 auto;}
.foot02_img img{ margin:0 4px; float:left;}

/*底部结束*/

/*底部样式*/
/*
.foot{
    background: #2c2c2c;
    color: #7a7a7a;
    font-size: 12px;
}
.foot a{
    color: #7a7a7a;
}
.foot a:hover{
    color: #dadada;
}
.foot_nav a{
    font-size: 14px;
}
.friend_link a{
    margin-right: 10px;
    margin-bottom: 6px;
    display: inline-block;
}
*/


/* 轮播点击注册 */
.registryFrame{
	width:275px;
	height:299px;
	
	position:absolute;
	right:200px;
	top:130px;
	z-index:1000;
}
.registryFrameInfo{
	width:228px;
	height:250px;
	margin:20px;
	text-align:center;
}
.registryFrameInfo1{
	margin-top:10px;
	color:#ec2224;
	font-size:36px;
	line-height:40px;
}
.registryFrameInfo2{
	color:#666;
	font-size:18px;
	line-height:50px;
}
.registryFrameInfo3{
	height:1px;
	background:#2976af;
}
.registryFrameInfo4{
	margin:30px auto;
}
.registryFrameInfo5{
	text-align:right;
}
.registryFrameInfo5 a{
	font-size:16px;
	color:#fff;
}
.registryFrameInfo5 a:hover{
	text-decoration:none;
}
.registryFrameInfo5 a span{
	text-decoration:underline;
}

/**/
.xinlang{
	
}
.xinlang .join:hover{
	text-decoration:none;
}

.cls_container{
	width:680px;
	height:30px;
	overflow:hidden;
}
.cls_container ul{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-left:32px;
}
.cls_container ul li{
	height:26px;
	line-height:26px;
	width:680px;
	float:left;
	display:inline;
}

/* 阿里云 */
.y-clear::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.y-clear {
}

/**/
.y-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 1000px;
}
.y-row::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.y-row-edge {
    padding-left: 10px;
    padding-right: 10px;
}
.y-row .y-span1, .y-row .y-span2, .y-row .y-span3, .y-row .y-span4, .y-row .y-span5, .y-row .y-span6, .y-row .y-span7, .y-row .y-span8, .y-row .y-span9, .y-row .y-span10, .y-row .y-span11, .y-row .y-span12 {
    display: inline;
    float: left;
    margin-right: 2%;
}
.y-row .y-span1 {
    width: 6.5%;
}
.y-row .y-span2 {
    width: 15%;
}
.y-row .y-span3 {
    width: 23.5%;
}
.y-row .y-span4 {
    width: 32%;
}
.y-row .y-span5 {
    width: 40.5%;
}
.y-row .y-span6 {
    width: 49%;
}
.y-row .y-span7 {
    width: 57.5%;
}
.y-row .y-span8 {
    width: 66%;
}
.y-row .y-span9 {
    width: 74.5%;
}
.y-row .y-span10 {
    width: 83%;
}
.y-row .y-span11 {
    width: 91.5%;
}
.y-row .y-span12 {
    width: 100%;
}
.y-row .y-last {
    margin-right: 0 !important;
}
/**/


.ali-main-product-list .animate, .ali-main-product-list li.list-item {
    transition: all 0.3s ease 0s;
}
.ali-main-product-list li.list-item {
    float: left;
    height: 396px;
    position: relative;
    width: 20%;
}
.ali-main-product-list li.list-item::after, .ali-main-product-list li.list-item::before {
    background: #aaa none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 2;
}
.ali-main-product-list li.list-item::before {
    left: -1px;
}
.ali-main-product-list li.list-item::after {
    right: 0;
}
.ali-main-product-list li.list-item .inner {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.ali-main-product-list li.list-item .inner h4 {
    color: #000;
    font-size: 18px;
    margin: 20px auto 2px;
    text-align: center;
}
.ali-main-product-list li.list-item .inner .left, .ali-main-product-list li.list-item .inner .right {
    position: absolute;
    top: 0;
    transition: all 0.4s ease 0s;
    width: 100%;
}
.ali-main-product-list li.list-item .inner .left {
    left: 0;
    padding-top: 25px;
    text-align: center;
}
.ali-main-product-list li.list-item .inner .left h2 {
    font-size: 18px !important;
}
.ali-main-product-list li.list-item .inner .left .desc {
    color: #999;
    margin: 4px 0 7px;
}
.ali-main-product-list li.list-item .inner .left .product-name-list dd {
    color: #000;
    font-size: 14px;
    margin-top: 34px;
}
.ali-main-product-list li.list-item .inner .right {
    left: 100%;
}
.ali-main-product-list li.list-item .inner .right .right-inner {
    padding: 5px 30px 0;
}
.ali-main-product-list li.list-item .inner .right .font-size-64 {
    font-size: 64px;
}
.ali-main-product-list li.list-item .inner .right .product-desc-wrap {
    border-bottom: 1px dashed #dcdddf;
    margin-bottom: 9px;
    padding-bottom: 10px;
    text-align: center;
}
.ali-main-product-list li.list-item .inner .right .product-desc-wrap .product-desc {
    color: #999;
	font-size:12px;
}
.ali-main-product-list li.list-item .inner .right .top-product {
    height: 55px;
    overflow: hidden;
    vertical-align: top;
}
.ali-main-product-list li.list-item .inner .right .top-product .sub-go-btn {
    color: #00a2ca;
    font-size: 14px;
    margin-left: 18px;
}
.ali-main-product-list li.list-item .inner .right .top-product .icon {
    float: left;
    margin: 0 16px 0 40px;
    width: 64px;
}
.ali-main-product-list li.list-item .inner .right .top-product a {
    color: #999;
    text-decoration: none;
}
.ali-main-product-list li.list-item .inner .right .top-product .top-product-left {
    float: left;
    width: 238px;
}
.ali-main-product-list li.list-item .inner .right .top-product .top-product-left .product-desc {
    margin-bottom: 10px;
	font-size:12px;
}
.ali-main-product-list li.list-item .inner .right .top-product .top-product-left .sale-desc {
    color: #999;
    margin: -13px 0 22px;
}
.ali-main-product-list li.list-item .inner .right .top-product .top-product-left h5 {
    color: #000;
    font-size: 16px;
    margin-bottom: 4px;
}
.ali-main-product-list li.list-item .inner .right .top-product .top-product-right {
    float: right;
    height: 66px;
    position: relative;
    width: 94px;
}
.ali-main-product-list li.list-item .inner .right .top-product .top-product-right button {
	font-size:12px;
	color:#aaa;	
	margin-top:10px;
    margin-right: 0 !important;
}
.ali-main-product-list li.list-item .inner .right .top-product .y-btn-white {
    bottom: 0;
    color: #00a2ca;
    height: 34px;
    line-height: 36px;
    margin-left: 122px;
    position: absolute;
    right: 0;
}
.ali-main-product-list li.list-item .inner .right .top-product .y-btn-white:hover {
    color: #fff;
}
.ali-main-product-list li.list-item .inner .right .bottom-product li {
    float: left;
    width: 50%;
}
.ali-main-product-list li.list-item .inner .right .bottom-product li .bottom-product-inner {
    height: 80px;
    padding-top: 23px;
}
.ali-main-product-list li.list-item .inner .right .bottom-product li.must-two-row {
    width: 100% !important;
}
.ali-main-product-list li.list-item .inner .right .bottom-product a {
    color: #999;
    display: block;
    line-height: 18px;
    text-decoration: none;
}
.ali-main-product-list li.list-item .inner .right .bottom-product .link {
    color: #00a2ca;
}
.ali-main-product-list li.list-item .inner .right .bottom-product .link:hover {
    text-decoration: underline;
}
.ali-main-product-list li.list-item .inner .right .bottom-product .row-2 {
    margin-top: 15px;
}
.ali-main-product-list li.list-item .inner .right .bottom-product .icon {
    float: left;
    font-size: 32px;
    width: 32px;
}
.ali-main-product-list li.list-item .inner .right .bottom-product .detail {
    overflow: hidden;
}
.ali-main-product-list li.list-item .inner .right .bottom-product .detail h5 {
    color: #000;
    font-size: 14px;
}
.ali-main-product-list li.list-item .inner .right .bottom-product .detail .product-desc {
    margin: 2px 0;
	font-size:12px;
}
.ali-main-product-list li.list-item.last .inner::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.ali-main-product-list li.list-item.active {
    background: #fff none repeat scroll 0 0;
    width: 40%;
}
.ali-main-product-list li.list-item.active .left {
    left: -100%;
}
.ali-main-product-list li.list-item.active .right {
    left: 0;
}
.ali-main-product-list li.list-item.active::after, .ali-main-product-list li.list-item.active::before {
    background: #00a2ca none repeat scroll 0 0;
    z-index: 3;
}
/**/
.imgChange{
	margin-top:10px;
	color:#888;
	font-size:16px;
}
.imgChange .iconList{
	height:60px;	
}
.imgChange .active{
	color:#337ab7;
	font-size:18px;
	font-weight:bold;
}
.imgChange .active img{
	width:60px;
	height:60px;
}	
.imgChange .linkImg{
	margin:10px auto 10px 25px;
}	

/* 合作伙伴 */
/*主要合作机构开始*/
.gy{ width:1200px; margin:0 auto;}
.partner{ min-height:100px; clear:both; background-color:#fff; margin-bottom:13px;margin-top:12px;border:1px solid #c6c6c6;}
.partner_top{font-size:20px; color:#777; font-weight:bold; padding:20px 20px 15px 20px;}
.partner_top a{ width:80px; float:right; font-size:14px; color:#999; text-align:right; font-weight:normal;}
.partner_top a:hover{ color:#fb4141;}
.partner_list{ width:1168px; margin:0 auto;}
.partner_list li{ margin:0 4px; float:left;}
.partner_list img{ width:155px; height:48px;}
/*主要合作机构结束*/
/*主要合作机构JS样式*/

.wrap { padding: 10px;}
.dowebok { min-height:100px;}
.dowebok img {margin-bottom:15px;margin-right:15px;vertical-align: top; height:68px;border:1px solid #c6c6c6;}
.str_wrap {
	overflow:hidden;
	//zoom:1;
	width:100%;
	font-size:12px;
	line-height:16px;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	white-space:nowrap;
	margin-top:25px;
}
.str_move { 
	white-space:nowrap;
	position:absolute; 
	top:0; 
	left:0;
	cursor:move;
}
.str_move_clone {
	display:inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	position:absolute; 
	left:100%;
	top:0;
}
.str_vertical .str_move_clone {
	left:0;
	top:100%;
}
.str_down .str_move_clone {
	left:0;
	bottom:100%;
}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}
.str_wrap img {
	max-width:none !important;	
}
/*主要合作机构JS样式结束*/


/*项目列表*/
.list_select{
	margin-top:10px;
}
.list_select .col-xs-12 .row a{
	margin-right:50px;
}
.pagination{
	
}
.pagination li a{
	margin-left:30px;
}
.font-size-18{
	font-size:18px;
}
.info_list_detail{
	
	background-repeat:no-repeat;
	background-position:top right;
	height:100px;
}
/* 项目详情 */
.deal_detail_type{
	font-size:12px;
	margin:20px auto 0 auto;
}
.deal_detail_type .col-md-3  img{
	margin-left:10px;
}
.dealImgFrame a{
	border: 1px solid #ddd;
    display: inline-block;
    height: 110px;
    margin-bottom: 10px;
    overflow: hidden;	
}

/* 导航栏的特效样式 */
.box-lanrenzhijia {
	position:relative;
	width:100%;
	height:35px;
	overflow:hidden;
	padding:0px;
	margin: 26px auto;
}
.box-lanrenzhijia li {
	float:left;
	height:32px;
	line-height:32px;
	margin-right:55px;
}
.box-lanrenzhijia li.back {
	height:35px;	
	border-bottom: 3px solid #337ab7;
	width:9px;
	z-index: 8;
	position: absolute;
}
.box-lanrenzhijia li a {
	color: #000;
	outline: none;
	text-align: center;
	top: 0px;
	text-transform: uppercase;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: auto 10px;
	font-size:18px;
}
.box-lanrenzhijia li a:hover, .box-lanrenzhijia li a:active, .box-lanrenzhijia li a:visited , .box-lanrenzhijia li a:focus{
	border: none;
	text-decoration:none;
}
a:link{
	 text-decoration: none;
}
  a:focus, input[type=button] ,input[type=submit] {        

    outline:none;

